@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Tarhej.Dnn.Tarhej.Dnn.ContactModule.Models.Message>

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers

<div id="Item-@Dnn.ModuleContext.ModuleId">
    <div class="dnnForm dnnEditBasicSettings" id="dnnEditBasicSettings">
        <div class="dnnFormExpandContent dnnRight "><a href="#">@Dnn.LocalizeString("ExpandAll")</a></div>

        <h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead dnnClear">
            <a href="#" class="dnnSectionExpanded">Státusz szerkesztése</a>
        </h2>
        <fieldset>
            <div class="dnnFormItem">
                <div class="dnnLabel" style="position: relative;">
                    @Html.LabelFor(m => Model.Status, new { @class = "col-md-2 control-label" })
                </div>
                @Html.DropDownListFor(
                    m => Model.Status,
                    new SelectList(new[]
                    {
                        new { Value = "megválaszolva", Text = "megválaszolva" },
                        new { Value = "nem megválaszolt", Text = "nem megválaszolt" },
                    }, "Value", "Text", Model.Status),
                    new { @class = "form-control" }
                )
            </div>
            @Html.HiddenFor(m => m.ModuleId)
            @Html.HiddenFor(m => m.LastName)
            @Html.HiddenFor(m => m.FirstName)
            @Html.HiddenFor(m => m.Subject)
            @Html.HiddenFor(m => m.Product)
            @Html.HiddenFor(m => m.MessageContent)
            @Html.HiddenFor(m => m.ContactDate)
            @Html.HiddenFor(m => m.Email)
        </fieldset>
    </div>
    <button type="submit" class="dnnPrimaryAction">Kész</button>
    <a id="cancelEdit" href="#" class="dnnSecondaryAction">Mégse</a>
</div>

<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function($, Sys) {
        function dnnEditBasicSettings() {
            $('#dnnEditBasicSettings').dnnPanels();
            $('#dnnEditBasicSettings .dnnFormExpandContent a').dnnExpandAll({ expandText: '@Dnn.LocalizeString("ExpandAll")', collapseText: '@Dnn.LocalizeString("CollapseAll")', targetArea: '#dnnEditBasicSettings' });
        }

        $(function() {
            $('#cancelEdit').click(function() { dnnModal.closePopUp(false); });
            dnnEditBasicSettings();
            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function() {
                dnnEditBasicSettings();
            });
        });

    }(jQuery, window.Sys));
</script>