@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Tarhej.Dnn.Tarhej.Dnn.ContactModule.Models.Message>>
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<a href="@Url.Action("Additem","Message")">Add item </a>
<a href="@Url.Action("SendEmail","Message")">Send email </a>
<table>
    <thead>
        <tr>
            <th>Üzenetfelvétel dátuma</th>
            <th>Tárgy</th>
            <th>Vezetéknév</th>
            <th>Keresztnév</th>
            <th>Email-cím</th>
            <th>Státusz</th>
            <th>Funkciók</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ContactDate</td>
                <td>@item.Subject</td>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@item.Email</td>
                <td>@item.Status</td>
                <td>
                    <a href="@Url.Action("Delete", "Message", new { MessageId = item.MessageId })">Törlés</a>
                    <a href="@Url.Action("GetMessage","Message", new { MessageId = item.MessageId })">Megnéz</a>
                    <a href="@Url.Action("Edit","Message", new {MessageId = item.MessageId })">Státusz szerkesztése</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    table, tr, td, th {
        padding: 10px;
    }

    #message-content {
        width: 20px;
        text-overflow: clip;
    }
</style>