@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Tarhej.Dnn.Tarhej.Dnn.ContactModule.Models.Message>>
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<a href="@Url.Action("Additem","Message")">Add item </a>
<table>
    <thead>
        <tr>
            <th>Üzenet ID</th>
            <th>Üzenet tartalma</th>
            <th>Termék</th>
            <th>Funkciók</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MessageId</td>
                <td id="message-content">@item.MessageContent</td>
                <td>@item.Product</td>
                <td>
                    <a href="@Url.Action("Delete", "Message", new { MessageId = item.MessageId })">Törlés</a>
                    <a href="@Url.Action("GetMessage","Message", new { MessageId = item.MessageId })">Megnéz</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    table, tr, td, th {
        padding: 10px;
    }

    #message-content {
        width: 20px;
        text-overflow: clip;
    }
</style>