@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Tarhej.Dnn.Tarhej.Dnn.ContactModule.Models.Message>>
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

<a href="@Url.Action("Additem","Message")">Add item </a>
<a href="@Url.Action("SendEmail","Message")">Send email </a>
<p>Összes üzenet: @ViewBag.totalMessages</p>
<p>Nem megválaszolt üzenetek: @ViewBag.unansweredMessages</p>
<p></p>
<table>
    <thead>
        <tr>
            <th>Üzenetfelvétel dátuma</th>
            <th>Tárgy</th>
            <th>Vezetéknév</th>
            <th>Keresztnév</th>
            <th>Email-cím</th>
            <th>Státusz</th>
            <th>Funkciók</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ContactDate</td>
                <td>@item.Subject</td>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@item.Email</td>
                <td>@item.Status</td>
                <td class="funkciok">
                    <a href="@Url.Action("Delete", "Message", new { MessageId = item.MessageId })">Üzenet törlése</a>
                    <a href="@Url.Action("GetMessage","Message", new { MessageId = item.MessageId })">Részletek</a>
                    <a href="@Url.Action("Edit","Message", new {ctl="Edit",MessageId = item.MessageId })">Státusz szerkesztése</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<style>
    table, tr, td, th {
        padding: 10px;
    }

    #message-content {
        width: 20px;
        text-overflow: clip;
    }

    table {
        padding: 10px;
        color: #160f32;
    }

    thead > tr > th {
        background-color: #5d3fd3;
        color: #f4e1d2;
        margin: 0;
    }

    .funkciok {
        background-color: #F4E1D2;
    }

    td > a {
        padding: 0 15px;
        color: #5D3FD3;
        text-decoration: none;
    }

        td > a:hover {
            color: #160f32;
            transition: color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
        }
</style>